PORT=5000
MONGO_URI=mongodb+srv://MAwaisIshaq:awais123@cluster0.lvlxk9f.mongodb.net/Synapse?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=super_secret_key_make_it_long_12345
AI_SERVICE_URL=http://localhost:8000
